* {
    font-family: 'Source Sans Pro',sans-serif;
}

button {
    box-shadow: 0 3px 0 0 #333;
    transition: border-radius 200ms, background 200ms;
    border:none;
    border-radius: 3px;
    color:#333;
    font-weight:600;
    font-size:1.2em;
    cursor:pointer;
    height:fit-content;
    width:fit-content;
}

button:active {
    transition: 100ms;
    box-shadow: 0 1px 0 0 #333;
    transform: translate(0, 2px);
}

.button-type-a {
    width:100px;
    background: rgb(218,218,218);
    margin-left:4px;
    z-index: 2;
    position: relative;
}

.autocomplete-items{
    background:#eee;
    width:fit-content;
}

#main-inputs-container {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:top;
    width: calc(100% - 300px);
    margin: auto;
}

.autocomplete-container {position: relative;}

.autocomplete-items{
    background: #fff;
    width:100%;
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    border-radius:5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    z-index: 5;
}

.autocomplete-items div{
    padding:2px 0 2px 2px;
    color:#333;
    cursor:pointer;
    z-index: 5;
    position: relative;
}

.autocomplete-items div:hover{
    background: #fafafa;
    box-shadow: inset 0 -1px 2px 0 rgba(0,0,0,0.15)
}

.grid {
    color:#eee;
}

#team1 {
    position: relative;
    z-index: 2;
    background:#27c;
    border:none;
    padding:5px;
    color:#fff;
    margin: 2px 4px;
    margin-bottom:6px;
}

#team2 {
    background: #c22;
    border:none;
    padding:5px;
    color:#fff;
    margin: 2px 4px;
    margin-bottom:6px;
    z-index: 2;
    position: relative;
}

#legend-container {
    position:absolute;
    top:0;
    right:0;
    width:180px;
    height:120px;
    border-radius:5px 0 0 5px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2); 
    overflow:hidden;
}

.legend-row {
    position:relative;
    background:rgba(255,255,255,0.8);
    height:40px;
    width:100%; 
    display:flex;
}

.legend-text {
    position:absolute;
    font-size:0.9em;
    width:120px;
    left:45px;
    height:100%;
    display:flex;
    align-items:center;
}

.legend-color {
    position:absolute;
    width:2px;
    height:20px;
    background: #555;
    top:10px;
    left:35px;
}

#team1-color {
    background:#27c;
}

#team2-color {
    background:#c22;
}

.legend-color:before {
    position:absolute;
    content:"";
    top:-5px;
    left:-3px;
    width:8px;
    height:8px;
    background: inherit;
    border-radius:10px;
}

.legend-color:after {
    position:absolute;
    content:"";
    bottom:-5px;
    left:-3px;
    width:8px;
    height:8px;
    background: inherit;
    border-radius:10px;
}

.legend-count {
    position:relative;
    font-size:20px;
    height:40px;
    width:32px;
    display:flex;
    align-items: center;
    justify-content: right;
    font-weight:600;
    color: #333;
}

.legend-count span {
    position: absolute;
    right: 5px;
}

#credits-info {
    position:absolute;
    top:3px;
    left:3px;
    font-size:0.8em;
    color:#555;
}

#main-inputs-container {
    position: relative;
}

#viz-container {
    position:relative;
    top:0;
    pointer-events: all;
}

@media only screen and (max-width: 600px) {
    #credits-info {
        top:auto;
        bottom: 0px;
    }
    #legend-container {
        top:auto;
        bottom:0px;
    }

    #main-inputs-container {
        width:100%;
    }

}

::-webkit-scrollbar {
    width: 0px;
	background: transparent;
	/* make scrollbar transparent */
}

#country-input-container {
    width:fit-content;
    margin:auto;
}

#country-select {
    border:none;
    padding:3px;
    margin-bottom:2px;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}